<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let user of users$ | async">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Username: {{user.username}}</h5>
        <p class="card-text">{{user.fullname}}</p>
        <p class="card-text"> habite: {{user.fulladdress}}</p>
        <a [routerLink]="['/','users',user.id]"
        class="btn btn-outline-dark text-uppercase mx-1">
          détails
        </a>
      </div>
    </div>
  </div>

</div>
